.center-form {
  height: 100vh;
  align-items: center;
  display: flex;
}
form {
  width: 100%;
  margin-bottom: 40px;
}
img {
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
}
p {
  text-align: center;
  margin-top: 20px;
}
