<!-- <ion-header>
  <ion-navbar color="clmain">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Содержание</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Проекты
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Потяните для обновления"
      refreshingSpinner="circles"
      refreshingText="Обновление...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div>
    <h3></h3>
	  <div>
	    <div class="post-category">категория</div>
	    <div class="post-dat">16.03.1989</div>
	  </div>
	  <h3 class="post-title">Реконструкция дороги по кабанбай батыра</h3>
      <img src="assets/postlist.jpg" />
	  <h5 class="post-intro-text">Ведется работа по бла бла бла и будет наврено закончена</h5>
	  <div class="post-text" [innerHTML] = "post_full_text"></div>
  
    <button ion-item>
      <ion-avatar item-left>
        <img src="assets/postlist.jpg" />
      </ion-avatar>
	  <ion-label class="author-title">Автор поста</ion-label>
	</button>
  </div>
  <div style="text-align: center">
    <ion-label>Ошибка при получении данных</ion-label>
    <button ion-button color="clmain" icon-left>
	  <ion-icon name="refresh"></ion-icon>
	  Обновить
    </button>
  </div>

</ion-content>