<ion-header>
  <ion-toolbar>
    <ion-title>
      Проекты
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <div>
  <ion-card text-wrap class="list-selected">
    <ion-card-title class="postlist-title"></ion-card-title>
      <div class="">
        <div class="postlist-category">16.03.1989</div>
        <div class="postlist-dat">Актобе</div>
      </div>
    
    <ion-card-title class="postlist-title">
      Реконструкция дороги по улице Богенбай батыра 18
    </ion-card-title>
    <img src="assets/postlist.jpg" />
	<h5 class="postlist-intro-text">В начале декабря 2004 года была начата реконструкция дороги и до сих пор не закончена</h5>
  </ion-card>
  </div>
 
  <ion-infinite-scroll>
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Загрузка данных...">	
	</ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>