

	.postlist-title {
		font-size: 18px !important;
        white-space: inherit;
        padding:0.5rem;
	}

	.postlist-intro-text {
		font-size: 14px !important;
		color: gray;
        white-space: inherit;
        padding:0.5rem;
	}

	.postlist-dat {
		font-size: 12px !important;
		color: gray;
		white-space: inherit;
        text-align: right;
        padding:0.5rem;
	}

	.postlist-category {
		font-size: 12px !important;
		color: gray;
		white-space: inherit;
		float: left;
		padding:0.5rem;
	}